---
title: Our team
#description: We've built an amazing team of developers, marketers, designers and sales people.
---
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
            <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
            {% if person.linkedin %}
            <div class="name"><a target="_blank" href="https://www.linkedin.com/in/{{ person.linkedin }}/">{{ person.name }}</a></div>
            {% endif %}
            {% if person.blog %}
            <div class="name"><a target="_blank" href="{{ person.blog }}/">{{ person.name }} personal blog</a></div>
            {% endif %}
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
